*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
::-webkit-scrollbar{
    display: none;
}
body{
    background: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    flex-direction: column;
}
header{
    width: 100%;
    height: 60px;
    background: #2b2b2b;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 2px #404040;
}
.logo{
    width: 150px;
    height: 130px;
    background: #c60c30;
    margin-left: 200px;
    z-index: 1;
}
.logo img{
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 700px;
    padding: 0 20px;
    line-height: 60px;
    background: #2b2b2b;
}
#header1{
    width: 78px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: .8s;
}
nav ul li:hover{
    background: #1b1b1b;
}
nav ul li a{
    color: #f1f1f1;
    font-size: 18px;
}
.login-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
}
.login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
}
header a{
    font-size: 18px;
    color: white;
}
.text{
    padding-top: 100px;
    text-align: center;
}
.text h1{
    font-size: 38px;
}
.text p{
    font-size: 22;
    padding-top: 15px;
}


.login-box{
    width: 70%;
    height: 400px;
    background: white;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 3px 3px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.login-tab{
    width: 80%;
    height: 85%;
    
    display: flex;
    flex-direction: column;
}
.boxshadow{
    width: 50%;
    box-shadow: lightgray 2px 0px 0px 0px;
}
.login-tab h2{
    padding-bottom: 15px;
}
.login-tab p{
    font-size: 14px;
    text-align: left;
}
.login-tab a{
    text-decoration: underline;
    color: #c60c30;
    font-size: 12px;
}
.login-tab a:hover{
    text-decoration: none;
    background: rgb(230, 230, 230);
}
.login-tab input[type= text],
.login-tab input[type = password]
{
    padding: 15px;
    height: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 3px 3px;
    border: none;
    border-radius: 5px;
    margin-top: 1.3rem;
}
.form-input:focus{
    outline: none;
}
.login-tab input[type = checkbox]{
    margin: 5px;
    width: 15px;
    height: 15px;
}
input[type="checkbox"]:checked {
    accent-color: #c60c30;
}
.login-tab button{
    padding: 15px;
    color: white;
    background: #c60c30;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
}
.login-tab button:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 3px 3px;
}
.register-tab{
    width: 40%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textbox{
    width: 100%;
    height: auto;
}
.form-input{
    width: 100%;
    height: 30pc;
}
.register-tab button{
    margin: 20px;
    padding: 15px;
    background: none;
    border-radius: 5px;
    border: 1px solid black;
    font: bold;
    cursor: pointer;
}
.register-tab button:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 3px 3px;
}
.register-tab h2{
    font-size: auto;
}
.register-tab a{
    text-decoration: underline;
    color: black;
}
.register-tab a:hover{
    text-decoration: none;
    background: rgb(230, 230, 230);
}
footer{
    height: 150px;
    width: 100%;
    background: #2b2b2b;
    color: white;
    margin-top: 100px;
    text-align: center;
}
footer p{
    padding-top: 10px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
  }
  .socials li{
    margin: 0 10px;
  }
  .socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
  }
  .socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color 0.4s ease;
  }
  #instagram:hover{
    color: #e1306c;
    background-color: white;
  }
  #twitter:hover{
    background-color: #00acee;
  }
  #facebook:hover{
    color: #0a66c2;
    background-color: white;
  }
  #privacybeleid{
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  #privacybeleid:hover{
    text-decoration: underline;
  }
  .footerbottom{
    width: 100%;
    height: 25px;
    text-align: center;
    background: #303030;
  }
  .footerbottom h1{
    font-size: 12px;
    margin-top: auto;
    color: white;
}